body {
    font-family: courier;
    background-color: #F2CF66;
    margin: 0 auto;
    width: 80rem;
  }
  
  .about-link {
    color: white;
    text-decoration: none;
    padding: .25rem;
    border: 1px solid white;
  }
  
  .about-link:hover {
    background-color: white;
    color: #F27457;
  }
  
  .links {
    background-color: #F26457;
    text-align: center;
    text-decoration: none;
    padding: .75rem;
    margin: 0 auto;
    text-align: right;
    border: 1px solid black;
    border-bottom: 2px solid black;
  }
  
  .intro {
    width: 400px;
    color: white;
    background-color: #A3BF8F;
    float: left;
    text-align: center;
    border: 1px solid black;
    margin-top: -1px;
  }
  
  h1 {
    font-size: 45px;
    border-bottom: 2px solid black;
    padding: .5rem;
    margin: .25rem;
  }
  
  .brief-introduction {
    font-size: 20px;
    margin: .25rem;
    padding: .75rem;
  }
  
  .some-posts {
    background-color: white;
    text-align: right;
    margin: 0;
  }
  
  .post  {
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 1rem;
    width: 730px;
  }
  
  p {
    border: 1px solid black;
    border-right: 1px solid white;
    margin: 0;
    padding: 1rem;
    border-bottom: 2px solid black;
  }
  
  p.date {
    border: 1px solid white;
  }
  
  .post1 {
    margin-top: -2px;
  }
  
  img {
    float: left;
    border: 7px inset black;
    margin: -1px;
  }
  
  .author {
    margin: 200px 10px 0 0;
  }
  
  